In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import matplotlib as mpl
import matplotlib.font_manager as fm

mpl.rcParams['axes.unicode_minus']= False

path = 'C:/Windows/Fonts/malgun.ttf'
font_name = fm.FontProperties(fname = path, size = 50).get_name()
plt.rc('font', family=font_name)

In [5]:
df = pd.read_csv('./highway_1812.csv')
df.head()

       집계일자  집계시간 영업소명  입구출구구분  통행량
0  20181201     0   가락       0  143
1  20181201     0   가락       1  178
2  20181201     0  가락2       0   38
3  20181201     0  가락2       1   41
4  20181201     0   가산       0   58

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 585064 entries, 0 to 585063
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   집계일자    585064 non-null  object
 1   집계시간    585064 non-null  int64
 2   영업소명    585064 non-null  object
 3   입구출구구분  585064 non-null  int64
 4   통행량     585064 non-null  int64
dtypes: int64(3), object(2)
memory usage: 22.3+ MB

In [7]:
df['집계일자'] = df['집계일자'].astype(str)

In [10]:
df['집계일자'] = pd.to_datetime(df['집계일자'])

In [11]:
df.dtypes

집계일자      datetime64[ns]
집계시간               int64
영업소명              object
입구출구구분             int64
통행량                int64
dtype: object

In [12]:
df['집계일자'].dt.date

0         2018-12-01
1         2018-12-01
2         2018-12-01
3         2018-12-01
4         2018-12-01
             ...
585059    2018-12-31
585060    2018-12-31
585061    2018-12-31
585062    2018-12-31
585063    2018-12-31
Name: 집계일자, Length: 585064, dtype: object

In [14]:
# 월요일의 데이터만 출력
df[df['집계일자'].dt.dayofweek==1]

             집계일자  집계시간  영업소명  입구출구구분  통행량
56927  2018-12-04     0    가락       0   92
56928  2018-12-04     0    가락       1   92
56929  2018-12-04     0   가락2       0   19
56930  2018-12-04     0   가락2       1   21
56931  2018-12-04     0    가산       0   32
...           ...   ...   ...     ...  ...
474057 2018-12-25    23    회인       1   44
474058 2018-12-25    23    횡성       0   33
474059 2018-12-25    23    횡성       1   73
474060 2018-12-25    23  흥천이포       0   28
474061 2018-12-25    23  흥천이포       1   37

[75830 rows x 5 columns]

In [15]:
# '서울(특)', '동서울' 톨게이트의 데이터 추출

In [16]:
df['영업소명'].isin(['서울(특)', '동서울'])

0         False
1         False
2         False
3         False
4         False
          ...
585059    False
585060    False
585061    False
585062    False
585063    False
Name: 영업소명, Length: 585064, dtype: bool

In [17]:
df[df['영업소명'].isin(['서울(특)', '동서울'])]

             집계일자  집계시간   영업소명  입구출구구분  통행량
250    2018-12-01     0    동서울       0   23
251    2018-12-01     0    동서울       1   62
449    2018-12-01     0  서울(특)       0   54
450    2018-12-01     0  서울(특)       1   72
1037   2018-12-01     1    동서울       0   14
...           ...   ...    ...     ...  ...
584068 2018-12-31    22  서울(특)       1  122
584579 2018-12-31    23    동서울       0   50
584580 2018-12-31    23    동서울       1  155
584761 2018-12-31    23  서울(특)       0   52
584762 2018-12-31    23  서울(특)       1   83

[2976 rows x 5 columns]

In [19]:
# 영업소는 통영 또는 북통영이면서 요일은 토요일인 데이터 출력

In [20]:
df[df['영업소명'].isin(['서울(특)', '동서울']) & (df['집계일자'].dt.dayofweek==6)]

             집계일자  집계시간   영업소명  입구출구구분  통행량
19235  2018-12-02     0    동서울       0   60
19236  2018-12-02     0    동서울       1   34
19434  2018-12-02     0  서울(특)       0   67
19435  2018-12-02     0  서울(특)       1   80
20021  2018-12-02     1    동서울       0   20
...           ...   ...    ...     ...  ...
567297 2018-12-30    22  서울(특)       1  125
567880 2018-12-30    23    동서울       0   59
567881 2018-12-30    23    동서울       1   60
568078 2018-12-30    23  서울(특)       0   48
568079 2018-12-30    23  서울(특)       1   83

[480 rows x 5 columns]

In [21]:
# 요일별 통행량을 계산하고, 통행량이 가장 많은 요일은 언제인가?

In [23]:
df['요일'] = df['집계일자'].dt.dayofweek

In [24]:
df.head()

        집계일자  집계시간 영업소명  입구출구구분  통행량  요일
0 2018-12-01     0   가락       0  143   5
1 2018-12-01     0   가락       1  178   5
2 2018-12-01     0  가락2       0   38   5
3 2018-12-01     0  가락2       1   41   5
4 2018-12-01     0   가산       0   58   5

In [27]:
df.groupby('요일')['통행량'].sum().sort_values(ascending=False)

요일
5    40720396
0    37598555
6    33777671
4    33555256
2    31383054
3    30972330
1    29181688
Name: 통행량, dtype: int64

In [44]:
day_dict = {0:'일요일', 1:'월요일', 2:'화요일', 3:'수요일', 4:'목요일', 5:'금요일', 6:'토요일'}
df2 = df
df2.head()

        집계일자  집계시간 영업소명  입구출구구분  통행량  요일
0 2018-12-01     0   가락       0  143   5
1 2018-12-01     0   가락       1  178   5
2 2018-12-01     0  가락2       0   38   5
3 2018-12-01     0  가락2       1   41   5
4 2018-12-01     0   가산       0   58   5

In [45]:
df2['요일'] = df2['요일'].map(day_dict)

In [46]:
df2.head()

        집계일자  집계시간 영업소명  입구출구구분  통행량   요일
0 2018-12-01     0   가락       0  143  금요일
1 2018-12-01     0   가락       1  178  금요일
2 2018-12-01     0  가락2       0   38  금요일
3 2018-12-01     0  가락2       1   41  금요일
4 2018-12-01     0   가산       0   58  금요일

In [47]:
df2.groupby('요일')['통행량'].sum().sort_values(ascending=False).max()

40720396

In [48]:
# 7~9시 사이 입구 통행량이 가장 많은 영업소는 어디인가?

In [56]:
df789 = df[(df['집계시간'].isin([7,8,9])) & (df['입구출구구분']==0)]

In [57]:
df789.groupby('영업소명')['통행량'].sum().sort_values(ascending=False)[:5]

영업소명
대천      512967
안성      501639
하남      468366
대왕판교    440890
시흥      433415
Name: 통행량, dtype: int64